{% extends"layout.html" %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        body {
            text-align: center;
            padding: 0;
            margin: 0;
        }
        ul {
            list-style: none;
        }
        .slot {
            width: 50%;
            height: 280px;
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;
            border : solid 1px #333 ;
        }
        .slot-frame {
            height: 500px;
            position: relative;
            border : solid 1px #333 ;
        }
        .reels {
            width: 20%;
            position: absolute;
        }
        .reels:nth-child(1) {
            left: -40px;
        }
        .reels:nth-child(2) {
            margin-left: 115px;
        }
        .reels:nth-child(3) {
            left: 270px;
        }
        .reel {
            height: 90px;
        }
        .reel img {
            display: block;
            width: 290%;
            margin: auto;
        }
        .ranps{
            width: 4%;
            margin-left: 0%;
        }
    </style>
</head>

<body>

<h1></h1>

<div class="slot">
    <div class="slot-frame">
        <ul class="reels">
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot01.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot05.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot01.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot02.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot01.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot00.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot04.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot02.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot01.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot06.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot03.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot04.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot02.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot01.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot05.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot04.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot02.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot01.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot00.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot01.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot02.png') }}" alt=""></li>
        </ul>
        <ul class="reels">
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot03.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot05.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot01.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot02.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot03.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot04.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot01.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot02.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot03.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot06.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot02.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot01.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot02.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot03.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot05.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot01.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot02.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot03.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot04.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot01.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot02.png') }}" alt=""></li>
        </ul>
        <ul class="reels">
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot02.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot04.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot03.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot01.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot02.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot05.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot03.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot01.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot02.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot06.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot02.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot03.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot01.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot02.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot04.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot03.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot01.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot02.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot05.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot03.png') }}" alt=""></li>
            <li class="reel"><img src="{{ url_for('static', filename='_pic/slot01.png') }}" alt=""></li>
    </div>
</div>

<div>
    <button type="button" class="btn-reset" disabled="true">bet</button>
</div>
<div>
    <button type="button" class="btn-start" >start</button>
    <button type="button" class="btn-stop" data-val="0" disabled="true"> Left </button>
    <button type="button" class="btn-stop" data-val="1" disabled="true">Center</button>
    <button type="button" class="btn-stop" data-val="2" disabled="true"> Right</button>
        <li class="ranps"> 
        <img src="{{ url_for('static', filename='_pic/gogo.png') }}" style="display: none;"alt=""> 
        </li>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    (function (global) {
        "use strict";

        /*スロットのリール回転速度(実行毎秒数)*/
        var sec = 48;

        /*
        ・スロットのリールelement
        ・スロットのリール停止フラグ
        ・スロットのリール回転数*/
        var $reels       = [],
            stopReelFlag = [],
            reelCounts   = [];

        /*位置情報*/
        var slotFrameHeight     = 0,
            slotReelsHeight     = 0,
            slotReelItemHeight  = 0,
            slotReelStart       = 0,
            slotReelStartHeight = 0;

        /*スロット*/
        var Slot = {
            init: function init() {
                $reels[0] = $reels[1] = $reels[2] = null;
                stopReelFlag[0] = stopReelFlag[1] = stopReelFlag[2] = false;
                reelCounts[0] = reelCounts[1] = reelCounts[2] = 0;
            },
            /*スタートボタンのクリックイベント */
            start: function () {
                for (var index = 0; index<3; index++) {
                    Slot.animation(index);
                }
            },
            /**
             * ストップボタンのクリックイベント
             */
            stop: function (index) {
                stopReelFlag[index] = true;
                if (stopReelFlag[0] && stopReelFlag[1] && stopReelFlag[2]) {
                    // 全リール停止したらリセットボタンを押下できるようにする
                    $('.btn-reset').attr('disabled', false);
                }
            },
            resetLocationInfo: function () {
                slotFrameHeight    = $('.slot-frame').outerHeight();
                slotReelsHeight    = $('.reels').eq(0).outerHeight();
                slotReelItemHeight = $('.reel').eq(0).outerHeight();
                slotReelStart      = 10 - 0;
                // リールの上下は、半分だけ表示させるための位置調整
                slotReelStartHeight = -slotReelsHeight;
                slotReelStartHeight = slotReelStartHeight + slotFrameHeight + ((slotReelItemHeight * 3 / 2) - (slotFrameHeight / 2));

                $('.reels').css({
                    'top':slotReelStartHeight 
                });
            },
            animation: function (index) {
                if (reelCounts[index] >= 19){
                    reelCounts[index] = 0;
                }
                $('.reels').eq(index).animate({
                    'top': slotReelStartHeight + (reelCounts[index] * slotReelItemHeight)
                },
                {
                    duration: sec,
                    easing: 'linear',
                    complete: function () 
                    {
                        if (stopReelFlag[index]) {
                            return ;
                        }
                        // 移動階数をカウント
                        reelCounts[index]++;
                        // スロット回転のアニメーションを実行する
                        Slot.animation(index);

                    }
                });
            },
        };

        global.Slot = Slot;

    })((this || 0).self || global);

    /**
     * 読み込み後
     */
    $(document).ready(function () {

        /*
         * スロットの初期化処理を実行
         */
        Slot.init();
        Slot.resetLocationInfo();

        /**
         * スタートボタンのクリックイベント
         */
        $('.btn-start').click(function () {
            // スタートボタンを押せないようにする
            $(this).attr('disabled', true);
            // スロットの回転を開始
            Slot.start();
            // ストップボタンを押せるようにする
            $('.btn-stop').attr('disabled', false);
        });

        /**
         * リセットボタンのクリックイベント
         */
        $('.btn-reset').click(function () {
            //$('img').show();
            // リセットボタンを押せないようにする
            $(this).attr('disabled', true);
            // スタートボタンを押せるようにする
            $('.btn-start').attr('disabled', false);
            // ストップボタンを押せないようにする
            $('.btn-stop').attr('disabled', true);
            // スロットのリール情報を初期化
            Slot.init();
        });

        /**
         * ストップボタンのクリックイベント
         */
        $('.btn-stop').click(function () {
            // ストップボタンを押せないようにする
            $(this).attr('disabled', true);
            // レールの回転を停止
            Slot.stop($(this).attr('data-val'));
        });
        

    });
</script>
</body>
{% endblock %}