{% extends"layout.html" %}
{% block body %}
<div class="container" id="test">
    <marquee direction="down" height="100" width="100" scrollamount="30" truespeed>
        <img src="../../../_pic/kappa.png" style="margin-left: 0px" width="100px" height="100px" class="img-fluid" alt="" >
    </marquee>
    <marquee direction="down" height="100" width="100" scrollamount="30" truespeed>
        <img src="../../../_pic/kappa.png" style="margin-left: 0px" width="100px" height="100px" class="img-fluid" alt="" >
    </marquee>
    <marquee direction="down" height="100" width="100" scrollamount="30" truespeed>
        <img src="../../../_pic/kappa.png" style="margin-left: 0px" width="100px" height="100px" class="img-fluid" alt="" >
    </marquee>
    
</div>


<script>
    $("#test").on('click', function(){
        console.log('test success');
        $('#test').html(
    `<marquee direction="down" height="100" width="100" scrollamount="0" truespeed>
        <img src="../../../_pic/kappa.png" style="margin-left: 0px" width="100px" height="100px" class="img-fluid" alt="" >
    </marquee>
    <marquee direction="down" height="100" width="100" scrollamount="30" truespeed>
        <img src="../../../_pic/kappa.png" style="margin-left: 0px" width="100px" height="100px" class="img-fluid" alt="" >
    </marquee>
    <marquee direction="down" height="100" width="100" scrollamount="30" truespeed>
        <img src="../../../_pic/kappa.png" style="margin-left: 0px" width="100px" height="100px" class="img-fluid" alt="" >
    </marquee>`

        )
    })
</script>
{% endblock %}