
<!-- 休日のデータを入力する画面です -->
{% extends "layout.html" %}

{% block body %}




        <form action="/maintenance_date" method="post">
        <!-- <form method="post"> -->
            <div class="form-group">
                <label for="InputDate">祝日  日付</label>
                <input type="date" class="form-control" id="InputDate" name="holi_date">
            </div>
            <div class="form-group">
                <label for="InputText">祝日  テキスト</label>
                <input type="text" class="form-control" id="InputText" name="holi_text">
            </div>
            <div class="btn-group">
                <button type="submit" class="btn btn-primary" name="button" value="insert_update">新規登録・更新</button>
            </div>
            <div class="btn-group">
                <button type="submit" class="btn btn-danger" name="button" value="delete" style="margin-left:10px">削除</button>
            </div>
            
        </form>
        休日のデータを入力する画面です
        <div class="container">
            
        </div>



        <!-- 休日一覧を取得するボタンです -->
        <form action="{{ url_for('show_holidays') }}">
            <button type="submit" class="btn btn-secondary">一覧出力</button>
        </form>

{% endblock %}
